<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<div id="add">
			<h1>Add Emp Info</h1>
			<h4>
				Welcome：<span v-text="username"></span>
				<a href="javascript:;" @click="logout">安全退出</a>
			</h4>
			<table cellpadding="10" >
				<tr>
					<td>name:</td>
					<td><input type="text" v-model="emp.name"/></td>
				</tr>
				<tr>
					<td>photo:</td>
					<td><input type="file" ref="myPhoto"/></td>
				</tr>
				<tr>
					<td>salary</td>
					<td><input type="number" v-model="emp.salary"/></td>
					
				</tr>
				<tr>
					<td>age:</td>
					<td><input type="number" v-model="emp.age"/></td>
				</tr>
				<tr>
					<td colspan="2"><button @click="saveEmp">提交</button></td>
				</tr>
			</table>
		</div>

		<script src="js/axios.min.js"></script>
		<script src="js/vue.js"></script>
		<script>
			const add = new Vue({
				el : "#add",
				data : {
					username : "",
					emp:{},//定义员工信息对象
				},
				methods:{
					saveEmp(){
						console.log(this.emp);//获取emp信息
						console.log(this.$refs.myPhoto.files[0]);//获取文件信息
						//文件上传时，请求方式必须时post enctype必须为mutipart/form-data
						let formData = new FormData();
						formData.append("name",this.emp.name);
						formData.append("age",this.emp.age);
						formData.append("salary",this.emp.salary);
						formData.append("photo",this.$refs.myPhoto.files[0]);
						//使用axios的构造方法来执行文件的上传
						axios({
							method : "post",
							url : "http://localhost:8765/smrv/emp/save",
							data : formData,
							headers:{
								'content-type':'mutipart/formdata'
							}
						}).then(res =>{
							console.log(res.data);
							if(res.data.state){
								alert(res.data.msg + ",点击跳转列表页面！");
								location.href = "emplist.html";
							}else{
								alert(res.data.msg);
							}
						});
					},
					logout(){
						//常规注销，是需要走后台的Controller，销毁session
						localStorage.removeItem("user");
						location.href="login.html";
					}
				},
				created() { //生命周期函数，在整个页面加载完毕之后执行的函数
					let username = localStorage.getItem("user");
					if(username){
						this.username = username;
					}else{
						alert("您尚未登录，点击确定跳转到登录页！");
						location.href = "login.html";
					}
				}
			});
		</script>
	</body>
</html>
