<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>アカウント登録</title>
		<link rel="stylesheet" href="css/register.css">
	</head>
	<body>
		<div class="container">
			<div class="login-box">
				<div class="login-header">
					<h2>アカウント登録</h2>
					<p>Create Your Account</p>
				</div>
				<div id="wrap" class="login-form">
					<div class="input-group">
						<label for="username">
							<i class="fas fa-user"></i>
						</label>
						<input type="text" id="username" v-model="user.username" placeholder="ユーザー名を入力してください" />
					</div>
					<div class="input-group">
						<label for="realname">
							<i class="fas fa-id-card"></i>
						</label>
						<input type="text" id="realname" v-model="user.realname" placeholder="本名を入力してください" />
					</div>
					<div class="input-group">
						<label for="password">
							<i class="fas fa-lock"></i>
						</label>
						<input type="password" id="password" v-model="user.password" placeholder="パスワードを入力してください" />
					</div>
					<div class="gender-group">
						<label>
							<i class="fas fa-venus-mars"></i>
						</label>
						<div class="radio-options">
							<label>
								<input type="radio" v-model="user.gender" name="gender" value="男" checked="checked" />
								男性
							</label>
							<label>
								<input type="radio" v-model="user.gender" name="gender" value="女" />
								女性
							</label>
						</div>
					</div>
					<button class="login-btn" @click="register">登録する</button>
					<div class="links">
						<a href="login.html" class="register-link">ログインページへ戻る</a>
					</div>
				</div>
			</div>
		</div>

		<!-- Font Awesome -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
		<script src="js/vue.js"></script>
		<script src="js/axios.min.js"></script>
		<script>
			const app = new Vue({
				el: "#wrap",
				data: {
					user: {},
				},
				methods: {
					register() {
						axios.post("http://localhost:7474/smrv/user/register", this.user).then(res => {
							console.log(res);
							if (res.data.state) {
								alert(res.data.msg + "，ログインページへ移動します");
								window.location.href = "login.html";
							} else {
								alert(res.data.msg);
							}
						});
					}
				}
			});
		</script>
	</body>
</html>